.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/sharpe-byte/nlrhs-anime-club-website/v2/img/hero-images/hero-image2.webp");
}

.events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/sharpe-byte/nlrhs-anime-club-website/v2/img/img1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1018.12px;
  overflow: hidden;
}
