.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/sharpe-byte/nlrhs-anime-club-website/v2/img/hero-images/hero-image1.webp");
  background-position: center top;
  height: 68.8vh;
}

.information {
  color: white;
  text-transform: none;
  padding: 1.4em 0.8em;
  height: 57.92vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/sharpe-byte/nlrhs-anime-club-website/v2/img/gif/gif3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information__content {
  width: 89.9856vh;
  line-height: 1.5;
}

.information__content__title {
  text-align: center;
  margin-bottom: 2.8rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.information__content__desc {
  font-size: 1.9rem;
  text-align: center;
  /* max-width: 45ch; */
}

.club-groups-wrapper {
  background-image: url("https://raw.githubusercontent.com/sharpe-byte/nlrhs-anime-club-website/v2/img/gif/gif2.gif");
  background-size: cover;
  background-position: center center;
  padding: 2.4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-groups-wrapper__club-groups {
  border: 0.2rem solid black;
  transition: 0.3s;
}
