*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ead1dc;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--main-color);
}

.header {
  padding: 1em;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.header__content__nav-logo {
  width: auto;
  height: 6.4vh;
  object-fit: contain;
}

.header__content__link__title {
  font-size: 2rem;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.header__navbar__link.header__navbar__link--active {
  font-weight: bold;
  color: var(--main-color);
}

a:link {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

a:visited {
  color: white;
}

a:hover:not(.header__navbar__link--active) {
  color: rgb(204, 204, 204);
}

a:active {
  color: white;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

.hero-banner {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 54.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-banner__title {
  font-size: 4.23rem;
}

.separator {
  background-color: var(--main-color);
  height: 1.6vh;
  padding: 1em 4.8em;
}

.separator__hr {
  border-color: black;
  margin: 0 3.85rem;
}

.footer {
  padding: 1em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}

.footer__content__text {
  font-size: 2rem;
}

.footer__content__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer__content__options__btn {
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  outline: none;
  background-color: white;
  color: black;
  border: 0.2rem solid black;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.4s;
}

.footer__content__options__btn:hover {
  background-color: black;
  color: white;
  border: 0.2rem solid white;
}

.footer__copyright__desc {
  font-size: 1.2rem;
  text-transform: none;
}

@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .header__content {
    align-self: flex-start;
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
  }

  .footer__copyright__desc {
    font-size: 1.5rem;
  }
}
