.preloader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  width: 20.8vh;
  height: 20.8vh;
  border: 1.6rem solid #c2a5b2;
  border-radius: 50%;
  border-top: 1.6rem solid black;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.preloader--disabled {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.page-content {
  display: block;
}

.page-content--hidden {
  display: none;
}

.page-content--fade-in {
  position: relative;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2.5s;
  animation-name: fadeIn;
  animation-duration: 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
